use_sops() {
    local path=${1:-$PWD/secrets/secrets.yaml}
    local sops=$(nix build nixpkgs#sops --print-out-paths)/bin/sops
    eval $($sops -d --extract '["environment"]' --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)
    watch_file "$path"
}

use flake
use sops
