use_sops() {
    local path=${1:-$PWD/secrets/secrets.yaml}
    nix build nixpkgs#sops --print-out-paths --out-link ./results/sops
    local sops='./results/sops/bin/sops'
    local hostname=`hostname`
    eval $($sops -d --extract '["environment"]' --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)
    # Note quotes are still borked.
    export RESTIC_REPOSITORY=$($sops -d --extract "[\"restic\"][\"$hostname\"][\"url\"]" "$path")
    export RESTIC_PASSWORD=$($sops -d --extract "[\"restic\"][\"$hostname\"][\"key\"]" "$path")
    watch_file "$path"
}

use flake
use sops
