use_sops() {
    local path=${1:-$PWD/secrets/secrets.yaml}
    nix build nixpkgs#sops --print-out-paths --out-link ./results/sops
    local sops=./results/sops/bin/sops
    eval $($sops -d --extract '["environment"]' --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)
    watch_file "$path"
}

use flake
use sops
